[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "etree"]
	path = etree
	url = https://github.com/ricgbl/etree
	shallow = true
	registered = true
